:root{
    --f-font:Arial;
    --fon-color:White;
    --b-color:black;
    --f-color:green;
}
body{
    background-color: var(--f-color);
    color: var(--fon-color);
    font-family: var(--f-font);
    text-align: center;
}
.form{
    background-color: yellowgreen;
    height: 250px;
    width: 400px;
    font-size: 1.4rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0);
    margin: 0px auto;
    margin-top: 200px;
}
.btn-calc{
    background-color: chocolate;
    font-size: 1rem;
    border: solid 3px chocolate;
    border-radius: 5px;
}
input{
    border: solid 2px var(--b-color);
    background-color: transparent;
    color:white;
    font-size: 1.5rem;
    border-radius: 8px;
}
input:hover{
    border: solid 2px red;
    background-color: white;
    color: black;
}
.btn-calc:hover{
    font-size: 1rem;
    background-color: aquamarine;
    border: solid aquamarine 2px;
}
/*SELECT ZONE*/
.content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.content-select select::-ms-expand {
    display: none;
}
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.content-select{
	max-width: 250px;
	position: relative;
}
 
.content-select select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}
 
.content-select select:hover{
	background: #B1E8CD;
}
  
.content-select i{
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #2AC176;
	border-bottom:4px solid #2AC176;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}
 
.content-select:hover i{
	margin-top: 3px;
}